<header>
    <h2><a href="/">SHOP-APi</a></h2>
    <nav>
        <u>You may</u>
        <a href="/login">Log in</a>
        <u>OR</u>
        <a href="/signup">Sign up</a>
        <u>an account.</u>
    </nav>
</header>